# Ignore node_modules directory
node_modules/

.serverless/

undefined/
# Ignore log files
*.log

# Ignore build directories
dist/
build/

# Ignore environment variables file
.env

# Ignore OS-specific files
.DS_Store
Thumbs.db